mixin list({data, columns, theme})
  if columns
    -var columnsMod = '_column_' + columns;
  else
    -var columnsMod = '';

  if theme
    -var themeLinkMod = '_theme_' + theme;
  else
    -var themeLinkMod = '';

  +b.UL.list&attributes(attributes)(class=columnsMod)
    each item in data
      +e.item
        if item.href
          +e.A.link(href=item.href class=themeLinkMod): span #{item.text}
        else
          | #{item.text}
