mixin generation-list(list, countRow)
	+b.generation-list&attributes(attributes)
		if countRow
			+e.DL.item
				+e.DT.head
					+e.H3.year #{list[0].year}
					+e.P.desc 
						| #{list[0].desc}
						if list[0].restyling
							+e.SPAN.restyling рестайлинг
				each car in list[0].list
					+e.DD.car
						+e.A.car-link(href="")
							+e.FIGURE.car-fig
								+e.IMG.car-img(src=car.img)
						+e.car-desc
							+e.H4.car-type #{car.type}
							if car.old
								+e.A.car-count(href="") #{car.old} с пробегом
							if car.new
								+e.A.car-count(href="") #{car.new} новых
		else
			each item, index in list
				+e.DL.item
					+e.DT.head
						+e.H3.year #{item.year}
						+e.P.desc 
							| #{item.desc}
							if item.restyling
								+e.SPAN.restyling рестайлинг
					each car in item.list
						+e.DD.car
							+e.A.car-link(href="")
								+e.FIGURE.car-fig
									+e.IMG.car-img(src=car.img)
							+e.car-desc
								+e.H4.car-type #{car.type}
								if car.old
									+e.A.car-count(href="") #{car.old} с пробегом
								if car.new
									+e.A.car-count(href="") #{car.new} новых