include ../akcent-block/akcent-block
include ../pagination/pagination

mixin catalog(list, hasPagination)
	+akcent-block._plain
		+b.catalog&attributes(attributes)
			+e.list
				each item in list
					- var classList = [item.isX2 ? '_x2' : false, item.isRight ? '_align_right' : false, item.alignTablet ? '_align-tablet_' + item.alignTablet : false].filter(Boolean);
					+e.list-item(class=classList)
						+e.A.link-wrap(href="")
							+e.FIGURE.list-fig
								+e.IMG.list-img(src=item.img alt=item.name)
							+e.list-about
								+e.H3.list-name #{item.name}
								+e.P.list-desc #{item.meta}
			if hasPagination
				+pagination._in-block