include ../akcent-block/akcent-block
include ../title-block/title-block
include ../social/social
include ../gallery/gallery

mixin reviewRatings(review, noImg)
  +e.top-ratings
    +e.top-options
      +e.top-options__title Оценки:
      +e.DL.top-options__list
        .options__list-item.mob-order_-1
          dt Внешний вид
          dd.option-rating= review.ratings.look
        .options__list-item
          dt Салон
          dd.option-rating= review.ratings.salon
        .options__list-item.mob-order_-1
          dt Двигатель
          dd.option-rating= review.ratings.engine
        .options__list-item
          dt Ходовая часть
          dd.option-rating= review.ratings.chassis
        .options__list-total
          dt Общая
          dd.option-rating= review.ratings.total

mixin reviewSpec(review, noImg)
  +e.top-specifications
    +e.top-options
      +e.top-options__title Характеристики:
      +e.DL.top-options__list
        .options__list-row
          dt Год выпуска:
          dd= review.review_params.year
        .options__list-row
          dt Тип кузова:
          dd= review.review_params.type
        .options__list-row
          dt Трансмиссия:
          dd= review.review_params.transmission
        .options__list-row
          dt Привод:
          dd= review.review_params.wd
        .options__list-row
          dt Поколение:
          dd= review.review_params.generation
        .options__list-row
          dt Двигатель:
          dd= review.review_params.engine
        .options__list-row
          dt Расход топлива по трассе:
          dd= review.review_params.highway_consumption
        .options__list-row
          dt Расход топлива по городу:
          dd= review.review_params.city_consumption
        .options__list-row
          dt Год приобретения:
          dd= review.review_params.purchase_year
        .options__list-row
          dt Пробег:
          dd= review.review_params.mileage
        .options__list-row
          dt Руль:
          dd= review.review_params.wheal

mixin reviewSlider(review, noImg, short)
  +e.aside
    +e.aside-content
      +e.aside-caption Купить #[a(href='#') Renault Arkana] на mbib.ru
      +e.aside-slider(class= (noImg || short) ? 'js-aside-slider-all' : 'js-aside-slider')
        +e.A.aside-slide(href='#')
          .slide-image
            img(src='assets/images/catalog/arkana_1.jpg')
          .slide-footer
            .slide-location Санкт-перетбург
            .slide-name Arkana 2020
            .slide-price 1 720 000 ₽
        +e.A.aside-slide(href='#')
          .slide-image
            img(src='assets/images/catalog/arkana_2.jpg')
          .slide-footer
            .slide-location Москва
            .slide-name Arkana 2021
            .slide-price 1 840 000 ₽
        +e.A.aside-slide(href='#')
          .slide-image
            img(src='assets/images/catalog/arkana_2.jpg')
          .slide-footer
            .slide-location Москва
            .slide-name Arkana 2019
            .slide-price 1 581 000 ₽

mixin reviewBlock(review, noImg, short)
  - let reviews = review.review.slice(0, short && noImg ? 1 : (short ? 2 : review.review.length))
  +e.content-title Отзыв владельца
  +e.text(class= short ? ' review-about__wide' : '')
    each val, index in reviews
      p= val
      if (short && noImg)
      else
        if (index === (noImg ? 2 : 5) || (short && index === reviews.length - 1))
          +reviewSlider(review, noImg, short)

  if (short && noImg)
    +reviewSlider(review, noImg, short)

mixin reviewAbout(review, noImg, short)
  +b.review-about&attributes(attributes)(class = (short || noImg) ? 'review-about__short' : '')
    +title(1, 2)
      a(href='#')= review.car_name
    +e.views
      +icon('eye', false).views-icon
      span= review.review_counter
    +e.top(class= (noImg ? ' review-about__block' : ''))
      if (!noImg)
        +e.top-image
          +gallery(getData('cars')[0].gallery).car-card__gallery
          //-+e.IMG(src=review.main_image)

        +reviewRatings(review, noImg)

        +reviewSpec(review, noImg)

      else
        +reviewRatings(review, noImg)

        +reviewSpec(review, noImg)

        +reviewBlock(review, noImg, short)

    if (!noImg)
      +e.content
        +reviewBlock(review, noImg, short)

    +e.footer
      +e.footer-published
        +e.footer-caption Опубликовано 12 Сентября 2021
        +e.footer-author Павел Николаев  •  Северобайкальск
      +e.footer-share
        .footer-caption Поделиться:
        +social(true)._view_block.cardowner__share
