include ../title/title
include ../phone/phone
include ../show-phone/show-phone
include ../show-phone/show-phones
include ../action/action
include ../gallery/gallery
include ../tooltip/tooltip
include ../share/share
include ../car-name/car-name
include ../tab/tab
include ../calculator/calculator

mixin card-tire-draft(data, id, spec)
  -var item = data[id];
  +b.card&attributes(attributes)(class= spec ? '_spec' : '')._draft
    +e.bar
      +e.bar-status._error
        +e.bar-status-text
          | Не опубликовано
          +icon('forbidden', false).bar-icon
      +e.A.bar-action(href="") Редактировать
        +icon('pen-admin', false).bar-icon
      +e.A.bar-action(href="") Опубликовать
        +icon('add-sq', false).bar-icon
    +e.head(class= spec ? 'card__head-spec' : '')
      +e.H1.head-title #{item.name}
      +e.head-price
        +e.price
          | #{item.price}
          +e.SPAN.price-currency #[span.roboto-rub ₽]
          +e.SPAN.price-count &nbsp;/ 4 шт.
        +action('like', item.isFavorite)._only-icon._is-visible.card__head-action

    +e.body
      +e.meta._stat
        +e.meta-data
          +e.meta-row
            +e.meta-item
              +e.SPAN.meta-date
                +icon('clock', false).meta-view-icon
                | #{item.pubdate}

            +e.meta-item
              +e.SPAN.meta-id № #{item.id}

            +e.meta-item
              +e.SPAN.meta-view
                +icon('eye', false).meta-view-icon
                | #{item.inspect.viewAll}
              +e.SPAN.meta-remark (#{item.inspect.viewToday} сегодня)

      +e.meta._owner.card__owner
        +e.owner-data
          +e.owner-name
            | #{item.author}
            +e.SPAN.owner-remark &nbsp;(#{item.authorStatus})

          +e.owner-address
            +e.owner-inspect(title="#{item.inspect.city}, #{item.inspect.address}")
              +e.SPAN.owner-lbl
                +icon('pin', false).meta-view-icon
                span Место осмотра&nbsp;
                b #{item.inspect.city}, #{item.inspect.address}

        +e.owner-contact
          +show-phone(item.contact, false, spec).card__meta-phone
          //- +show-phones(item.contact, false).card__meta-phone
          //- +phone(item.contact).card__meta-phone

      +e.tab
        +tab._default.cardtype
          +e.head
            +e.A.head-item(href="#cardUp").cardtype__tab-up
              +icon('cursor', false).head-icon.cardtype__tab-icon
              | Поднятие в поиске
            +e.A.head-item._active(href="#cardPremium").cardtype__tab-premium
              +icon('trophy', false).head-icon.cardtype__tab-icon
              | Спецразмещение

          +e.content(id="cardUp")
            .cardtype__content.cardtype__content_up
              .cardtype__fig
                img(src="assets/images/rocket.svg", alt="")
              .cardtype__desc
                h3 Экспресс-продажа в ТОП позициях
                p Увеличьте шансы на быструю и выгодную продажу, которое увидит максимум посетителей авто-портала Mbib.ru. Ваше объявление будет выделено цветом, поднято в топ, размещено в специальном блоке на главной странице, на странице марки и в выдаче объявлений.

              .cardtype__buy-wrap
                ul.cardtype__feature
                  li.cardtype__feature-item Специальный блок на главной
                  li.cardtype__feature-item Поднято в ТОП

                .cardtype__buy
                  +btn('button', '')._size_m._theme_main Активировать за 355 руб.

          +e.content._active(id="cardPremium")
            .cardtype__content.cardtype__content_premium
              .cardtype__fig
                img(src="assets/images/premium.svg", alt="")
              .cardtype__desc
                h3 Спецразмещение
                p Увеличьте шансы на быструю и выгодную продажу, которое увидит максимум посетителей авто-портала Mbib.ru. Ваше объявление будет выделено цветом, поднято в топ, размещено в специальном блоке на главной странице, на странице марки и в выдаче объявлений.

              .cardtype__buy-wrap
                ul.cardtype__feature
                  li.cardtype__feature-item Специальный блок на главной
                  li.cardtype__feature-item Выделено цветом
                  li.cardtype__feature-item Поднято в ТОП

                .cardtype__buy
                  +btn('button', '')._size_m._theme_akcent Активировать за 675 руб.

      +e.data
        +e.data-side
          +e.feature
            +e.DL.feature-list
              +e.feature-row
                +e.DT.feature-term Производитель
                +e.DD.feature-desc Continental
              +e.feature-row
                +e.DT.feature-term Номер
                +e.DD.feature-desc 650855896
              +e.feature-row
                +e.DT.feature-term Модель
                +e.DD.feature-desc Snow Cross
              +e.feature-row
                +e.DT.feature-term Состояние
                +e.DD.feature-desc Б/у
              +e.feature-row
                +e.DT.feature-term Бесплатный шиномонтаж
                +e.DD.feature-desc Нет
              +e.feature-row
                +e.DT.feature-term Сезонное хранение
                +e.DD.feature-desc Да
              +e.feature-row
                +e.DT.feature-term Сезон
                +e.DD.feature-desc Зимние
              +e.feature-row
                +e.DT.feature-term Протектор
                +e.DD.feature-desc Нешипованные
              +e.feature-row
                +e.DT.feature-term Ширина, мм
                +e.DD.feature-desc 245
              +e.feature-row
                +e.DT.feature-term Высота, %
                +e.DD.feature-desc 45
              +e.feature-row
                +e.DT.feature-term Диаметр, “
                +e.DD.feature-desc 17
              +e.feature-row
                +e.DT.feature-term RunFlat
                +e.DD.feature-desc Нет
              +e.feature-row
                +e.DT.feature-term Износ, %
                +e.DD.feature-desc 30

            +e.A.feature-link(href="") Все характеристики модели в каталоге

        +e.data-main
          +e.gallery
            if (spec)
              +e.gallery-special(class='tooltip__parent tooltipParent')
                +e.gallery-button
                  +icon('star_fill', false).spec-icon
                  span Спецразмещение
                +tooltip('spec')
            if item.gallery
              +e.gallery-list
                each img in item.gallery
                  img(src=img, alt="")

          +e.comment
            +title(3) Комментарий продавца
            +e.comment-body
              | #{item.comment}

          //-+e.kit
            +e.kit-head
              +title(3) Комплектация
            +e.kit-list
              +e.DL.kit-item
                +e.DT.kit-title Безопасность
                if item.feature.abs
                  +e.DD.kit-desc Антиблокировочная система (ABS)
                if item.feature.servo
                  +e.DD.kit-desc Парктроник
              +e.DL.kit-item
                +e.DT.kit-title Салон
                if item.feature.fabricInterior
                  +e.DD.kit-desc Тканевый салон
                if item.feature.leatherInterior
                  +e.DD.kit-desc Кожанный салон
              +e.DL.kit-item
                +e.DT.kit-title Комфорт
                if item.feature.cruiseControl
                  +e.DD.kit-desc Круиз-контроль
                if item.feature.servo
                  +e.DD.kit-desc Усилитель руляк
                if item.feature.tintedGlass
                  +e.DD.kit-desc Тонированные стекла
              +e.DL.kit-item
                +e.DT.kit-title Экстерьер
                +e.DD.kit-desc
                  if item.feature.alloyWheels
                    | Легкосплавные диски
                  | #{item.feature.radiusWheels}''

    +e.bar
      +e.bar-status._moderation
        +e.bar-status-text
          | Модерация
          +icon('hourglass', false).bar-icon
        +e.SPAN.bar-remark в течении 30 минут
      +e.A.bar-action(href="") Редактировать
        +icon('pen-admin', false).bar-icon
      +e.A.bar-action(href="") Снять с продажи
        +icon('close-sq', false).bar-icon
