include ../show-phone/show-phones
include ../action/action

mixin short-poster(data, spec)
  +b.short-poster&attributes(attributes)
    +e.H4.title #{data.name}
    +e.price
      | #{data.price}
      +e.SPAN.price-currency &nbsp;#[span.roboto-rub ₽]
      +action('like', data.isFavorite)._only-icon._is-visible.short-poster__action
    +e.owner
      | #{data.author}
      +e.SPAN.remark (#{data.authorStatus})
    +e.address #{data.inspect.city}, #{data.inspect.address}
    +e.contact
      +show-phones(data.contact, true, spec).card__meta-phone
