include ../phone/phone

mixin cardowner(data, noPhone)
  -var item = data[0];
  +b.cardowner&attributes(attributes)
    +e.author
      +e.author-name #{item.author}
      +e.author-status #{item.authorStatus}
    +e.phone
      - if (!noPhone)
        +phone(item.contact, true)._size_l.cardowner__phone-value
      +e.phone-desc ОАО "МТТ" Краснодарский край
    +e.inspect
      | Место осмотра: #{item.inspect.city}, #{item.inspect.address}
      br
      | Звоните с #{item.contact.callStart} до #{item.contact.callEnd}

