include ../btn/btn

mixin show-phones(data, show)
  if show
    - mod = '_visible-phone';
  else
    - mod = '';
  +b.show-phone&attributes(attributes)(class=mod)
    +btn()._size_xxl._theme_secondary(type="button").show-phone__button.show-phone__
      span.show-phone__label Показать телефон
      span.show-phone__placeholder +7&nbsp;***&nbsp;***&nbsp;**&nbsp;**
    +e.A.link._small-size(href=`tel:${data.phone}`) #{data.phone}
    +e.A.link._small-size(href=`tel:${data.phone}`) #{data.phone}
